
<app-landingpage></app-landingpage>


<h1>This is the landing Page</h1>
<div class="row">
<div class="col-6">
  <app-signuppage></app-signuppage>
</div>
<div class="col-6">
  <app-signuppage></app-signuppage>
</div>

</div>

<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio possimus cumque, aliquid quam modi cupiditate quisquam velit a animi repellendus aliquam aspernatur error beatae necessitatibus. Sapiente ipsam, quae, ut error harum illum laboriosam cupiditate maxime perferendis ratione ea deserunt quas magni quisquam nesciunt vero ipsa velit odio dolor, nostrum corrupti? Dicta, enim ducimus placeat tenetur quis iste, fuga sequi cumque vero consequuntur consectetur tempora dolorem, impedit ipsam commodi delectus iusto? Ea eius facere sequi quam quod officiis soluta distinctio, eligendi, tempore autem, dignissimos totam et quae nulla? Fuga, optio est cupiditate, eaque in illo quaerat perspiciatis, nulla ipsam dolore facilis?
</div>

<router-outlet />
